*{
    margin: 0;
    padding: 0;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .container{
    max-width: 1140px;
    margin: auto;
  }

  section{
    margin:120px 0 120px 0 ;
  }

  .orange-color{
    color: #E95A08;
  }
  .grey-color{
    color: rgba(0, 0, 0, 0.5);
  }

  /* nav  design*/
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .nav-right ul{
    display: flex;
    gap: 48px;
  }
  .nav-right li{
    list-style: none;
  }
  .nav-right a{
    text-decoration: none;
    color: #8987A1;
  }
  .nav-right .home{
    font-weight: 700;
    color: #252432;
  }
  .nav-right .cart{
    color: black;
  }

  /* banner design */
  .banner-container{
    display:flex ;
    align-items: end;
    justify-content: space-between;
  }
  .banner-left h1{
   font-size: 4.0625rem;
    font-weight: 700;
    margin-bottom: 13px;
  }

  .banner-left p{
    max-width: 570px;
    font-size: 1.375rem;
  }
  .banner-right img{
    max-width: 100%;
    display: block;
  }
