*{
    margin: 0;
    padding: 0;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .container{
    max-width: 1140px;
    margin: auto;
  }

  section{
    margin:120px 0 120px 0 ;
  }

  .orange-color{
    color: #E95A08;
  }
  .grey-color{
    color: rgba(0, 0, 0, 0.5);
  }

  /* nav  design*/
  .header{
    margin-top: 20px;
  }
  nav{
    display: flex;
    justify-content: space-between;
  }
.nav-right{
  display: flex;
align-items: center;
gap: 48px;
}
.navigations{
  display: flex;
  gap: 48px;
}
.navigations a{
color:rgba(0, 0, 0, 0.5);
text-decoration: none;
}
 .cart a{
  text-decoration: none;
  color:#000000; 
} 
.navigations .home{
  color: #252432;
  font-weight: 700;

}

/* mobile responsive part  */
@media screen and (max-width:576px) {
  .navigations{
display: none;
  }
  nav{
    margin: 0 16px;
  }
}