*{
    margin: 0;
    padding: 0;
  background-color: #F5F8FF;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .container{
    max-width: 1140px;
    margin: auto;
  }

.mt{
  margin-top:120px ;
}
.mtt{
  margin-top: 230px;
}
  .orange-color{
    color: #E95A08;
  }
  .grey-color{
    color: rgba(0, 0, 0, 0.5);
  }
.heading {
text-align: center;
}
.heading h1{
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.heading p{
  font-size: 1.375rem;
  margin-bottom: 49px;
}



  /* nav  design*/
  .header{
    margin-top: 20px;
  }
  nav{
    display: flex;
    justify-content: space-between;
  }
.nav-right{
  display: flex;
align-items: center;
gap: 48px;
}
.navigations{
  display: flex;
  gap: 48px;
}
.navigations a{
color:rgba(0, 0, 0, 0.5);
text-decoration: none;
}
 .cart a{
  text-decoration: none;
  color:#000000; 
} 
.navigations .home{
  color: #252432;
  font-weight: 700;

}

/* banner */
.banner-left{
  flex:1;
}
.banner-right{
  flex: 1;
}
.banner-left h1{
  font-size: 4.0625rem;
  font-weight: 700;
}
.banner-left p{
  font-size: 1.375rem;
}

.banner-right img{
  max-width: 100%;
  display: block;
}

.banner{
  display: flex;
  justify-content: space-between;
  align-items: end;
}
/* card */

.flower-box{
  max-width: 270px;
  margin-bottom: 30px;
  
}
.box-image img{
  max-width: 100%;
  margin-bottom: 30px;
}
.box-contant{
  text-align: center;
}
.box-contant h1{
  font-size: 1.375rem;
  font-weight:500 ;
  margin-bottom: 20px;
}
.box-contant h3{
  font-size:  1.375rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.box-button {
  display: flex;
 justify-content: center;
}
button{
  font-weight: 500;
  padding: 19px 80px;
 background-color: #E95A08;
 border: none;
 color: white;
}

.box-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}
.footer-container{
  height: 348px;
}






/* store container design */
.lovers{
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
  
}
.trust-parent{
position: relative;
}
.trust-child{
  width: 270px;
  height: 270px;
top: -150px;
right: -90px;
  background: transparent;
  position: absolute;
}
.lover-content{
  width: 540px;
}
.lover-content h1{
  font-weight: 700;
  font-size: 3.125rem;
  margin-bottom: 20px;
  color: #000000	;

}
.lover-content ul li{
  font-size:1.375rem ;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-left: 30px;
}





/*  */
.vertical-collage img{
  height: calc( (100% - 25px)/2 )
  
}
.vertical-collag .img1{
  width: 100px;
  height: 200px;
background-image: url(../assets/deal-bloom.png);
}
.vertical-collage, .right-img{
  height: 423px;
}

.shop-now{
  height: 400px;
  display: flex;
  gap: 28px;
  
}
.shop-now img{
  border-radius: 22px;
}


.vertical-collage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
} 






/* search */
.search-parent{
  margin-top: 120px;
}
.search-container{
 height: 533px;
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 533px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input{
  width: 644px;
  height: 50px;
  background-color: white;
  border: none;
  
}
.test h1{
  font-size: 3.125rem;
  font-weight: 700;
  color: white;
  display: block;
}

/* footer design  */
.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
 
}
.footer p{
  font-size: 1.375rem;
}
.footer img{
  margin-bottom: 16px;
}
.footer ul li{
  list-style: none;
  margin-bottom: 32px;
}
.footer li a{
  text-decoration: none;
  color: grey;
}
.footer-container{
  background-color:none;
}
footer .icons img{
  margin-right: 30px;
}





/* mobile responsive part  */
@media screen and (max-width:576px) {
  .navigations{
display: none;
  }
  nav, .heading , .lovers  {
    margin: 0 16px;
  }

  .banner  {
   flex-direction: column-reverse;
   margin-bottom: 65px;
  }
  .banner-left{
    margin: 28px 16px 63px 16px;
  }
  .banner-left h1{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 13px;
  }
  .banner-left p{
    font-size: 0.875rem;
  }

  .box-container{
    grid-template-columns: repeat(2,1fr);
    margin-left: 16px;
    margin-right: 16px;
  
  }
  .trust-parent img{
max-width: 100%;
  }
  

  .lovers{
    flex-direction: column;
      }
.trust-child{
  display: none;
}
.lover-content h1{
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 20px;

}
.lover-content p{
  font-size: 4em;

}
.lover-content ul{
  font-size:0.875rem ;
  margin: 0 16px;
}
.search-container input{
  margin-left: 36px;
}
.search-container button{
  margin-right: 36px;
  width: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  flex-direction: column;
  margin: 50px 16px;
}
.vertical-collage{
  display: flex;
  flex-direction: column;

} 
.shop-now{

  flex-direction: column;
 margin-bottom: 200px;
 margin-left: 20px;
 margin-right: 20px;
 align-items: center;
 justify-content: center;
  
}
.shop-now img{
 max-width: 100%;
 max-height: 222px;
  
}
.Latest-Deals{
  margin-bottom: 200px;
}
.lovers{
  margin-bottom: 100px;
}
.lovers *{
  margin-left: 16px;
  margin-right: 16px;
}
}